* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62, 5%;
}
body {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  background-color: #799bbd;
}

/* grid index*/
.layout {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 0.2fr 2fr 1fr 0.2fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "nav nav"
      "galeria galeria"
      "resumen resumen"
      "footer footer"; 
  }

  nav {
    grid-area: nav;
  }
  
  .galeria { 
    grid-area: galeria;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  
  footer {
    grid-area: footer;
    text-align: center;
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 93px;
   }
  
/* grid clientes*/
.layout-clientes {
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 0.2fr 2fr 0.2fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "nav nav"
    "galeria galeria"
    "footer footer"; 
}
  
/* grid servicios y legales*/
.layout-servicios {
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 0.2fr 2fr 0.2fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "nav nav"
    "resumen resumen"
    "footer footer"; 
}

.container-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  grid-area: resumen;
}

.contacto-formulario{
display: block;
grid-area: resumen;
justify-self: center;
}

h1 {
  text-align: right;
  color: white;
  background-color: black;
  display: inline;
}

.whatsapp {
  position: fixed;
  width: 50px;
  height: 49px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  z-index: 100;
}

.whatsapp-icon {
  margin-top: 10px;
}

html {
  font-family: "Mukta", sans-serif;
}

li {
  list-style-type: none;
  display: inline-block;
}

a:hover {
  color: black;
}

.imagenbombero {
  margin-top: 10px;
  margin-left: 5px;
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
  filter: grayscale(100%);
  transition: 2s;
}

.imagenbombero:hover {
  filter: none;
}

.nav-log {  
  display: flex;
  justify-content: center;
  background-color: #000;
}

.navegador { 
  background-color: black;
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
}
nav a {
  text-decoration: none;
  color: inherit;
  font-size: 14px;
}


nav li {
  width: 10%;
  padding: 5px 10px;
  margin: 0px 30px;
  border-radius: 5px;
}


nav li:hover {
  background-color: #799bbd;
  color: white;
}


.resumen {
  padding: 20px;
  margin: 25px;
  border-radius: 10px;
  border: solid 1px black;
  background-color: lightgrey;
  color: #0d1b2e;
}

.intimacion {
height:90%;
width:90% ;
}

.formulario {
  display: block;
}

div h2 {
  text-align: center;
  grid-area:titulo;

}
@media screen and (max-width: 1200px) {
  .whatsapp {
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 35px;
    right: 2px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 27px;
    z-index: 100;
  }
  
  .whatsapp-icon {
    margin-top: none;
    transform: translateY(-3px);
  }
}
@media screen and (max-width: 768px) {

  .layout {
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 0.2fr 0.5fr 0.5fr 0.2fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "nav nav"
      "galeria galeria"
      "resumen resumen"
      "footer footer"; 
  }

  nav li {
    width: auto;
  padding: 5px 10px;
  margin: 0px 30px;
  border-radius: 5px;
  }

  .navegador { 
    background-color: black;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    align-items: center;
  }
  
  .galeria { 
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    justify-content: space-evenly;
  }

  .imagenbombero {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 10px;
  }
  .whatsapp {
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 35px;
    right: 2px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 27px;
    z-index: 100;
  }
  
  .whatsapp-icon {
    margin-top: none;
    transform: translateY(-3px);
  }
}

@media screen and (max-width: 480px) {

  .imagenbombero {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: 10px;
    transition: 2s
  }

  .galeria :hover {
    width: 280px;
    height: 300px;
    object-fit: cover;
    margin: 10px;
  }

}

.footer-clientes {
  margin-top: 20px;
}

.animate__animated.animate__fadeInRight {
  --animate-duration: 2s;
}