$colorPrincipal: grey;

$colorwhats: #25d366;

@mixin whats { 
    position: fixed;
    width: 50px;
    height: 49px;
    bottom: 40px;
    right: 40px;
    background-color: $colorwhats;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    z-index: 100;
}

$teamFlex: ( /*MAP*/
    flex: flex,
    wrap: wrap,
    centrado: center,
);

.formulario {
    text-align: justify;
    width: 70%;
    margin: auto;
  }

.contacto-formulario { /*extend*/
    @extend .formulario;
    display: block;
}