@import "variables"; /*import*/

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62, 5%;
    font-family: "Mukta", sans-serif;
}

body {
    max-width: 1000px;
    margin: 0 auto;
    background-color: $colorPrincipal;/*variable*/
}

.galeria { /*map-get*/
    display: map-get($teamFlex, flex);
    flex-wrap: map-get($teamFlex, wrap);
    justify-content: space-between;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 93px;
}

.container-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style-type: none;
}

.whatsapp { /*mixin*/
    @include whats
}

.whatsapp-icon {
    margin-top: 10px;

    &:hover{
        color: black;
    }
}

.imagenbombero { /*anidacion*/
    margin-top: 10px;
    margin-left: 5px;
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
    filter: grayscale(100%);
    transition: 2s;

    &:hover {
    filter: grayscale(0%);
    }
}

.resumen {
    padding: 20px;
    margin: 25px;
    border-radius: 10px;
    border: solid 1px black;
    background-color: lightgrey;    color: #0d1b2e;
    flex-shrink: inherit;
    box-shadow: 0px 3px 8px black;
    &:hover{
      box-shadow: 0px 8px 28px black;
      transition: 300ms ease-in-out;
    }
}

.logo { 
  transition: 2s;
 &:hover {
   filter: invert(1);
 }
}

.fondoContacto {
  position: relative;
  left: 0;
  background-image: url(../multimedia/contacto.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  flex-basis: 100%;
  --animate-duration: 2s;
  justify-content: center;
  align-items: center;
  height: 600px;
  text-align: center;
}

.logan {  
  display: inline-block;
 margin-right: 10px;
}

/* corrigiendo bootstrap*/

.row {
  justify-content: space-evenly;
  --bs-gutter-x: 0rem;
}

.enviar {
  text-align-last: center;
}

.h3,
h3 {
  font-size: 20px;
  font-weight: bolder;
  font-family: "Mukta", sans-serif;
  text-align: center;
}

.container-fluid {
  padding: 0px
}

/*nav*/
.navbar-toggler {
  margin-right: 20px;
}

.navbar-light .navbar-toggler-icon {
  background-color: white;
}

.bg-light {
  background-color: black !important;
}

.navbar-nav :hover {
  background-color: $colorPrincipal;
  border-radius: 10px;
}

.navbar-nav .nav-link {
  text-align: center;
}

.nav-link {
  transition: none
}

#li {
  color: white
}

.navbar-light .navbar-toggler {
  border-color: white;
}

.btn-primary {
  margin-bottom: 10px;
}

.titulo2 {
  font-family: "Mukta", sans-serif;
}

/*cambios carousel*/
.carousel-caption {
color: black;
background-color: #fff;
border: solid;
border-radius: 10px;
}

.carrusel {
  max-height: 600px;
  margin-top: 10px;
  border: solid;
  margin-bottom: 10px;
}

.carousel-inner {
  border: solid;
  margin-top: 10px;
  box-shadow: 0px 3px 8px black;
  margin-bottom: 10px;
    &:hover{
      box-shadow: 0px 8px 28px black;
      transition: 300ms ease-in-out;
    }
}

.carrusel2 {
  width: 70%;
  border: none;
  box-shadow: none;
  margin: auto;
    &:hover{
      box-shadow: none;
    } 
}

.precarrusel {
  display: block;
  text-align: center;
  background-color: white;
  padding: 15px 15px 15px 15px;
  margin-bottom: 10px;
}

/*media queris*/

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
      padding-right: 0px 0px 0px 0px;
      width: 100px;
      height: 40px;
      text-align: center;
      justify-content: center;
    }
  }
  
  @media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
      justify-content: center;
    }
  }
  
  
  @media screen and (max-width: 1200px) {
    .whatsapp {
      width: 40px;
      height: 40px;
      bottom: 35px;
      right: 2px;
      font-size: 27px;
    }
  
    .whatsapp-icon {
      margin-top: none;
      transform: translateY(-3px);
    }
  }
  
  @media screen and (max-width: 768px) {
   

    .galeria {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 10px;
      justify-content: space-evenly;
    }
  
    .imagenbombero {
      width: 200px;
      height: 200px;
      object-fit: cover;
      margin: 10px;
    }
  
    .whatsapp {
      position: fixed;
      width: 40px;
      height: 40px;
      bottom: 35px;
      right: 2px;
      background-color: $colorwhats;
      color: #fff;
      border-radius: 50px;
      text-align: center;
      font-size: 27px;
      z-index: 100;
    }
  
    .whatsapp-icon {
      margin-top: none;
      transform: translateY(-3px);
    }

    .d-none {
      display: block !important;
      font-size: xx-small;
    }

    .carrusel {
      width: auto;
      border: none;
      box-shadow: none;
      transition: 5s;
        &:hover{
          box-shadow: none;
        } 
    }
    .carousel-caption {
      padding-top: 0px; 
      padding-bottom: 0px;
    }

  }
  
  @media screen and (max-width: 480px) {
    .carousel-caption {
      -ms-text-size-adjust: 10px;
    }

    .imagenbombero {
      width: 100px;
      height: 100px;
      object-fit: cover;
      margin: 10px;
      transition: 2s
    }
  
    .galeria :hover {
      width: 280px;
      height: 300px;
      object-fit: cover;
      margin: 10px;
    }
  
    .logo {
      width: 200px;
    }

    .d-none {
      display: block !important;
      font-size: xx-small;
    }
  }
  
  @media (min-width: 992px) {
    .navbar-expand-lg {
      flex-wrap: wrap;
    }
  } 